<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::body}, signedIn, 'Category', 'Categories Table')}">
<body>
<div class="container">
    <div class="d-flex flex-row-reverse">
        <a th:href="@{/categories/new}" class="btn btn-success">
            <i class="fas fa-plus-circle"></i> Add New
        </a>
    </div>
    <div class="table-responsive-lg">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="category : ${categories}">
                <td th:text="${category.name}"></td>
                <td>
                    <a th:href="@{/categories/{id} (id=${category.id})}" class="btn btn-info"><i class="fas fa-eye"></i></a>
                    <a th:href="@{/categories/{id}/edit (id=${category.id})}" class="btn btn-warning"><i
                            class="fas fa-edit"></i></a>
                    <a th:href="@{/categories/{id}/remove (id=${category.id})}" class="btn btn-danger"><i
                            class="fas fa-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>